body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    text-align: center;
    color: coral;
}

ul {
    font-size: 22px;
    color:coral;
}

a {
    color: lightcoral;
    text-decoration: none;
}
